.category-span{
    cursor: pointer;
}
ul.alert.alert-primary.rate {
    display: inline-block;
    cursor: pointer;
}

.category-list.category {
    text-align: initial;
    border: solid
}
.category-list.sub.category {
    display: block;
    position: relative;
    left: 140px;
}
